
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');

$main-color: #f58322;
$main-color-opaque: rgba(#f58522,.80);
$gray-100: #f7f8fa; 
$gray-200: #a6acac;
$gray-300: #787d80;
$gray-400: #7c7b83;
$gray-500: #454e57;


@mixin breakpoint($breakpoint) {
  @if $breakpoint==phone {
    @media  screen and (max-width: 500px) {
      @content
    }
    ;
  }

  @if $breakpoint==tablet-portrait {
    @media (max-width: 769px) {
      @content
    }
    ;
  }

  @if $breakpoint==tablet-landscape {
    @media (max-width: 1024px) {
      @content
    }
    ;
  }
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  width: 100%;
  line-height: 1.5;
}
strong {
  font-weight: bold;
}
img {
  width: 100%;
}

.app {
  overflow: hidden;
}

.row {
  width: 100%;
  display: flex;
}

.col-33 {
  width: 33.333333333%;
}

.col-66 {
  width: 66.666666667%;
}

@include breakpoint(phone) {
  .col-33,.col-66 {
    width: 100%;
  }
  .row {
    flex-direction: column;
  }
}
