.nav {
  width: 100%;
  background: black;
  padding: 20px 100px;

  &__logo {
    width: 150px;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  &__links {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    padding: 0;
    @include breakpoint(phone) {
      display: none;
    }
  }

  &__link {
    color: orange;
    font-size: 1rem;
    margin-right: 1.5rem;
    letter-spacing: 1px;

    &:hover {
      color: white;
    }
  }

}

@include breakpoint(phone) {
  .nav {
    padding: 20px;

    &__logo {
      width: 100px;

      &--mobile {
        display: block; 
      }

      &--desktop {
        display: none;
      }
    }

    // &__links {
    //   display: none;
    // }
  }
}

@include breakpoint(tablet-portrait) {
  .nav {
    padding: 20px;

    &__logo {
      width: 100px;

      &--mobile {
        display: block;
      }

      &--desktop {
        display: none;
      }
    }

    &__links {
      display: none;
    }
  }

}