.nav {
  width: 100%;
  background: black;
  padding: 20px 100px;
  opacity: 1;
  transition: 1s all;
  position: fixed;
  z-index: 100;
  &--hidden {
    opacity: 0;
  }

  &__logo {
    width: 150px;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  &__links {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  &__link {
    color: $main-color;
    font-size: 1rem;
    margin-right: 1.5rem;
    letter-spacing: 1px;
    transition: 1s color ease-in-out;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}

@include breakpoint(phone) {
  .nav {
    padding: 0  1rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    position: fixed;
    &--hidden {
      opacity: 1;
    }
    &__logo {
      width: 100px;

      &--mobile {
        display: block;
      }

      &--desktop {
        display: none;
      }
    }

    &__links {
      display: none;
    }
  }
}

@include breakpoint(tablet-portrait) {
  .nav {
    padding: 20px;

    &__logo {
      width: 100px;
      display: block;

      &--mobile {
        display: block;
      }

      &--desktop {
        display: none;
      }
    }

    &__links {
      display: none;
    }
  }

}




 