.history {
  width: 100%;
  margin-top: -2.5%;
  min-height: 60vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/outlier-office.png);

  &__employees-blurb {
    padding-top: 5rem;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__employees {
    font-size: 25vmin;
    letter-spacing: 5px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
    margin: 0;
    display: block;
  }

  &__blurb {
    max-width: 900px;
    padding: 1rem;
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 1rem;
    }
  }
}

.timeline-mobile {
  display: none;
}

.timeline {
  padding: 250px 0 250px;
  display: block;

  &__line {
    border-top: 1px solid white;
    display: block;
    position: relative;
  }

  &__year,
  &__title,
  &__location,
  &__team {
    display: block;
  }
  &__year {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.4rem 0;
  }
  &__location,
  &__team {
    font-size: 0.85rem;
  }

  &__team {
    padding-bottom: 0.85rem;
  }

  &__info {
    position: absolute;
    width: 190px;
    left: 10%;
    border-left: 1px solid white;

    &--bottom {
      top: 0;

      .timeline__content {
        &::before {
          top: -8px;
        }
      }
    }

    &--top {
      bottom: 0;

      .timeline__content {
        &::before {
          bottom: -8px;
        }
      }
    }

    &--start {
      top: 0;

      .timeline__content {
        &::before {
          display: none;
        }

        &::after {
          content: "";
          display: block;
          border-right: solid 15px white;
          border-bottom: solid 15px transparent;
          border-top: solid 15px transparent;
          left: -15px;
        }
      }
    }

    &--finish {
      top: 0;
      background-color: $main-color-opaque;
      .timeline__content {
        &::before {
          display: none;
        }

        &::after {
          content: "";
          display: block;
          border-left: solid 15px white;
          border-bottom: solid 15px transparent;
          border-top: solid 15px transparent;
          left: -1px;
        }
      }
    }
  }

  &__content {
    position: relative;
    color: white;
    padding: 0 15px;

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $main-color;
      left: -8px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: -15px;
    }
  }
}

@include breakpoint(phone) {
  .history {
    background: none;
    &__employees {
      padding: 0;
    }

    &__employees-blurb {
      padding: 2rem 0 1.5rem;
      background-attachment: fixed;
      background-size: cover;
      background-position: 0 -65px;
      background-repeat: no-repeat;
      background-image: url(../images/outlier-office.png);
    }
    &__blurb {
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
      }
    }
  }
  .timeline {
    display: none;
  }
  .timeline-mobile {
    background-color: $gray-500;
    height: 1400px;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    // align-items: center;

    &__line {
      border-left: 1px solid white;
      display: block;
      position: relative;
    }

    &__year,
    &__title,
    &__location,
    &__team {
      display: block;
    }
    &__year {
      font-weight: bold;
      font-size: 1.7rem;
      text-transform: uppercase;
    }
    &__title {
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.4rem 0;
    }
    &__location,
    &__team {
      font-size: 0.75rem;
    }

    &__team {
      padding-bottom: 0.85rem;
    }

    &__content {
      position: relative;
      color: white;
      padding: 0 15px;

      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $main-color;
        left: -8px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: -15px;
      }
    }

    &__info {
      position: absolute;
      width: 150px;
      left: 10%;
      display: flex;
      border: none;

      &--finish {
        top: 0;
        background-color: $main-color-opaque;
        .timeline-mobile__content {
          &::before {
            display: none;
          }

          &::after {
            content: "";
            display: block;
            transform: rotate(90deg);
            left: -8px;
            border-left: solid 15px white;
            border-bottom: solid 15px transparent;
            border-top: solid 15px transparent;
          }
        }
      }
      &--start {
        top: 0;

        .timeline-mobile__content {
          &::before {
            display: none;
          }

          &::after {
            content: "";
            display: block;
            transform: rotate(90deg);
            left: -8px;
            border-right: solid 15px white;
            border-bottom: solid 15px transparent;
            border-top: solid 15px transparent;
          }
        }
      }

      &--bottom {
        top: 0;

        .timeline-mobile__content {
          &::before {
            top: -10px;
          }
        }
      }

      &--top {
        bottom: 82%;
        left: -151px !important ;
        .timeline-mobile__content {
          text-align: right;
          &::before {
            bottom: auto;
            left: auto;
            right: -8px;
            top: 11px;
          }
        }
      }
    }
  }
}
