// .App {
//   text-align: right;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: black;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



@mixin breakpoint($breakpoint) {
  @if $breakpoint==phone {
    @media (max-width: 500px) {
      @content
    }

    ;
  }

  @if $breakpoint==tablet-portrait {
    @media (max-width: 769px) {
      @content
    }

    ;
  }

  @if $breakpoint==tablet-landscape {
    @media (max-width: 1024px) {
      @content
    }

    ;
  }
}

// * {
//   box-sizing: border-box;
// }

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  line-height: 1.5;
}

.app{
  overflow: hidden;
}

img {
  width: 100%;
}

.nav {
  width: 100%;
  background: black;
  padding: 20px 100px;

  &__logo {
    width: 150px;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  &__links {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  &__link {
    color: orange;
    font-size: 1rem;
    margin-right: 1.5rem;
    letter-spacing: 1px;

    &:hover {
      color: white;
    }
  }

}

.hero {
  width:  100%;

  &__slider-content {
    position: relative;
  }

  &__content {
    position: absolute;
    background-color: orange;
    bottom: 0;
    right: 0;
    width: 40%;
    padding: 4rem;
    color: white;
    font-size: 1rem;
  }

  &__content-heading {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 1rem;
  }
}

@include breakpoint(phone) {
  .nav {
    padding: 20px;
    &__logo {
      width: 100px;

      &--mobile {
        display: block;
      }

      &--desktop {
        display: none;
      }
    }

    &__links {
      display: none;
    }

  }
}

@include breakpoint(tablet-portrait) {
  .nav {
    padding: 20px;
    &__logo {
      width: 100px;

      &--mobile {
        display: block;
      }

      &--desktop {
        display: none;
      }
    }

    &__links {
      display: none;
    }
  }
  .hero {
    &__content {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
    }
}
}